<!doctype html>
<html class="no-js">
<head>
    <title>ridge framework - ridge.st</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<div data-role="page" class="type-index">
		<header data-role="header" data-theme="a">
		  <h1>Ridge</h1>
		</header>
		<div data-role="content" id="content">
          {{{content}}}
		</div>

	</div>
	<script src="/js/libs/json2.js" type="text/javascript"></script>
	<script src="/js/libs/jquery.1.7.js" type="text/javascript"></script>
	<script src="/js/libs/underscore.js" type="text/javascript"></script>
	<script src="/js/libs/backbone.js" type="text/javascript"></script>
	<script src="/js/libs/mustache.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/templates.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/app.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>