<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/style.css?v=1">
	<script src="js/libs/json2.js" type="text/javascript"></script>
	<script src="js/libs/jquery.1.7.js" type="text/javascript"></script>
	<script src="js/libs/underscore.js" type="text/javascript"></script>
	<script src="js/libs/backbone.js" type="text/javascript"></script>
	<script src="js/app.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/template" id="ad-template">
    	<h1>Hi</h1>
    	<p>Welcome to my Backbone</p>
    	<a href="#/ad/223">An ad</a>
    </script>
   
</head>

<body>
	<div data-role="page">
		<header data-role="header">
		  <h1>UppsalaBostad</h1>
		</header>
		<div data-role="content" id="content">
          <div id="add-ad">
            <input type="text" id="ad-description" placeholder="Lägg till en annons"><input type="submit" id="add-ad-btn">
          </div>
		</div>
		<footer data-role="footer">
		  
		</footer>
	</div>
</body>
</html>