/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #e6e6e6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e6e6e6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #e6e6e6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #e6e6e6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #e6e6e6 100%);
  /* IE10+ */
  background: linear-gradient(top, white 0%, #e6e6e6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e6e6e6',GradientType=0 );
  /* IE6-8 */
  height: 100%;
  background-repeat: no-repeat; }

header {
  position: relative;
  background: #007acb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #007acb 0%, #0068ad 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #007acb), color-stop(100%, #0068ad));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #007acb 0%, #0068ad 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #007acb 0%, #0068ad 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #007acb 0%, #0068ad 100%);
  /* IE10+ */
  background: linear-gradient(top, #007acb 0%, #0068ad 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007acb', endColorstr='#0068ad',GradientType=0 );
  /* IE6-8 */
  padding: 10px; }
  header h1, header h2, header h3 {
    margin: 0;
    font-size: 16px;
    text-align: center;
    color: #fff; }

ul.items {
  border: 1px solid #dbdbdb;
  margin: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  ul.items li {
    border-bottom: 1px solid #dbdbdb; }
    ul.items li:first-child {
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    ul.items li.list-header {
      padding: 10px;
      font-weight: bold;
      background: #efefef;
      /* Old browsers */
      background: -moz-linear-gradient(top, #efefef 0%, #dbdbdb 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(100%, #dbdbdb));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #efefef 0%, #dbdbdb 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #efefef 0%, #dbdbdb 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #efefef 0%, #dbdbdb 100%);
      /* IE10+ */
      background: linear-gradient(top, #efefef 0%, #dbdbdb 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#dbdbdb',GradientType=0 );
      /* IE6-8 */
      border-bottom: 1px solid #d1d1d1; }
    ul.items li:last-child {
      border-bottom: none; }
      ul.items li:last-child a {
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px; }
    ul.items li a {
      display: block;
      text-decoration: none;
      color: #333;
      padding: 10px;
      background: #fcfcfc;
      /* Old browsers */
      background: -moz-linear-gradient(top, #fcfcfc 0%, #ededed 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #ededed));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #fcfcfc 0%, #ededed 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #fcfcfc 0%, #ededed 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #fcfcfc 0%, #ededed 100%);
      /* IE10+ */
      background: linear-gradient(top, #fcfcfc 0%, #ededed 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 );
      /* IE6-8 */ }
      ul.items li a:hover {
        background: #f2f2f2;
        /* Old browsers */
        background: -moz-linear-gradient(top, #f2f2f2 0%, #e3e3e3 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #e3e3e3));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #f2f2f2 0%, #e3e3e3 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #f2f2f2 0%, #e3e3e3 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #f2f2f2 0%, #e3e3e3 100%);
        /* IE10+ */
        background: linear-gradient(top, #f2f2f2 0%, #e3e3e3 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#e3e3e3',GradientType=0 );
        /* IE6-8 */ }

.btn {
  border: 1px solid #10546d;
  padding: .55em 1.05em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #1f90ba;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1f90ba 0%, #135a74 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1f90ba), color-stop(100%, #135a74));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1f90ba 0%, #135a74 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1f90ba 0%, #135a74 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1f90ba 0%, #135a74 100%);
  /* IE10+ */
  background: linear-gradient(top, #1f90ba 0%, #135a74 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f90ba', endColorstr='#135a74',GradientType=0 );
  /* IE6-8 */
  color: #fff;
  text-decoration: none; }
